# GoPay Credentials
GOPAY_EMAIL=your-email@example.com
GOPAY_PASSWORD=your-password

# Domain
APP_URL=http://localhost:3000

# Key Keamanan
API_SECRET_KEY=your-api-secret-key-here

# String QRIS
QRIS_STRING=

PRICE_AMOUNT=
PORT=3000

# Admin Telegram Bot
ADMIN_TELEGRAM_BOT_TOKEN=your-admin-telegram-bot-token
ADMIN_TELEGRAM_CHAT_ID=your-admin-telegram-chat-id

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=your-turnstile-site-key
TURNSTILE_SECRET_KEY=your-turnstile-secret-key

# Gmail SMTP
SMTP_USER=your-email@example.com
SMTP_PASS=your-smtp-app-password

# Supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-service-role-key
